.container {
  display: flex;
}

.icons-dashboard {
  display: flex;
  gap: 0px; 
  position: absolute;
  right: 80px; 
  top: -40px; 
}

.icon-btn-dashboard {
  background-color: #FFFFFF;
  color: #01184A;
  border: none;
  border-radius: 90%; 
  padding: 16px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-btn-dashboard:hover {
  background-color: #01184A;
  color: #f0f0f0;
}

.h1-dashboard {
  color: #000000;
  font-size: 32px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 130px;
}

.h2-dashboard {
  font-weight: bolder;
  font-size: 24px;
  color: #000000;
  margin-bottom: 60px;
  margin-top: -20px;
  margin-left: 30px;
  align-self: flex-start;
}

.h2-incidentes {
  font-weight: bolder;
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: 30px;
  align-self: flex-start;
}

.blocos-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  margin-bottom: 70px;
}

.bloco {
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.bloco-nome {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  display: block;
}

.bloco-numero {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0 10px 0;
  display: block;
  text-align: center;
}

.bloco-link {
  font-size: 20px;
  color: #094FCC;
  text-decoration: none;
  display: block;
  margin-top: 50px;
  text-align: right;
  font-weight: bolder;
}

.bloco-link:hover {
  text-decoration: underline;
}

.bloco-verde {
  border-color: #28a745;
  background-color: #eafbea;
}

.bloco-azul {
  border-color: #007bff;
  background-color: #eaf2ff;
}

.bloco-laranja {
  border-color: #ffc70e;
  background-color: #fff9e6;
}

.bloco-vermelho {
  border-color: #dc3545;
  background-color: #fdeaea;
}

.item1-dashboard {
  margin: 0;
  border: 1px solid black;
  height: 125vh;
  width: 100px;
  background-color: #01184A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.item2-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  margin-top: 100px;
  margin-left: 30px;
  height: 950px;
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 87%;
  font-size: 20px;
  color: #01184A;
}

.dashboard-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.grafico-container {
  flex: 1;
  max-width: 50%;
  margin-right: 10px;
}

.grafico-histograma {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

.barra {
  width: 20%;
  background-color: #ccc;
}

.barra-azul {
  background-color: #1F77B4;
}

.barra-verde {
  background-color: #007bff;
}

.barra-laranja {
  background-color: #FF7F0E;
}

.barra-vermelha {
  background-color: #dc3545;
}

.tabela-container {
  flex: 1;
  max-width: 50%;
  margin-left: 10px;
}

.tabela-dashboard {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: auto;
}

.tabela-dashboard th {
  background-color: #01184A;
  color: white;
  font-weight: bold;
  padding: 20px 15px;
  text-align: center;
  height: 10px;
}

.tabela-dashboard td {
  padding: 20px 15px;
  text-align: center;
  height: 10px;
}

.tabela-dashboard tr:nth-child(even) {
  background-color: #01184A;
  color: white;
}

.tabela-dashboard tr:nth-child(odd) {
  background-color: #F8F8F8;
  color: black;
}

.tabela-header {
  background-color: #01184A;
  color: white;
}
