.container {
  display: flex;
}

.icons-relatorios {
  display: flex;
  gap: 0px; 
  position: absolute;
  right: 80px; 
  top: -40px; 
}

.icon-btn-relatorios {
  background-color: #FFFFFF;
  color: #01184A;
  border: none;
  border-radius: 90%; 
  padding: 16px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-btn-relatorios:hover {
  background-color: #01184A;
  color: #f0f0f0;
}

.h1-relatorios {
  color: #000000;
  font-size: 32px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 130px;
}

.h2-relatorios {
  font-weight: bolder;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
  margin-top: -20px;
  align-self: flex-start;
}

.filtros-relatorios {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -20px;
  margin-left: 0;
}

.filtro-btn-relatorios {
  background-color: #01184A;
  color: white;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.filtro-btn-relatorios span {
  display: inline-block;
}

.barra-relatorios {
  font-size: 35px;
  font-weight: normal;
  margin-left: 8px;
}

.filtro-btn-relatorios span:last-child {
  font-size: 14px;
  margin-left: 4px;
}

.filtro-btn-relatorios:hover {
  background-color: #002244;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.active .dropdown-content {
  display: block;
}

.item1-relatorios {
  margin: 0;
  border: 1px solid black;
  height: 97.7vh;
  width: 100px;
  background-color: #01184A;
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: flex-start;
  padding-top: 20px;     
}

.item2-relatorios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  margin-top: 100px;
  margin-left: 30px;
  height: 730px;
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 87%;
  font-size: 20px;
  color: #01184A;
}

.tabela-relatorios {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela-relatorios th {
  background-color: #01184A;
  color: white;
  font-weight: bold;
  padding: 20px 15px;
  text-align: center;
  height: 10px;
}

.tabela-relatorios td {
  padding: 20px 15px;
  text-align: center;
  height: 10px;
}

.tabela-relatorios tr:nth-child(even) {
  background-color: #01184A;
  color: white;
}

.tabela-relatorios tr:nth-child(odd) {
  background-color: #F8F8F8;
  color: black;
}

.tabela-header {
  background-color: #01184A;
  color: white;
}

.paginas-relatorios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pagina-btn-relatorios {
  background-color: #01184A;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagina-btn-relatorios:hover {
  background-color: #002244;
}
