.container {
    display: flex;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .filtros {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .filtro-btn {
    background-color: #003366;
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filtro-btn:hover {
    background-color: #002244;
  }
  
  .filtro-btn svg {
    margin-right: 5px;
  }
  
  .tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .tabela th,
  .tabela td {
    padding: 20px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .tabela th {
    background-color: #003366;
    color: white;
    height: 10px;
  }
  
  .tabela td {
    background-color: white;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .status.alerta {
    background-color: #ffcc00;
    color: black;
  }
  
  .status.resolvido {
    background-color: #4caf50;
    color: white;
  }
  
  .acao-btn {
    background-color: #003366;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .acao-btn:hover {
    background-color: #002244;
  }
  
  .paginas {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .pagina-btn {
    background-color: #003366;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagina-btn:hover {
    background-color: #002244;
  }
  